.page-footer__wrap, .portfolio__wrap, .clients__wrap, .team__wrap, .work__wrap, .benefits__wrap, .hero__wrap, .page-header__wrap {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio__image, .work-list__image, .card__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.socials-list, .nav, .main-contacts__list, .grid, .filter {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.portfolio, .clients, .team, .work, .benefits {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients__title, .team__title, .work__title {
  margin-bottom: 50px;
  margin-top: 0;
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
  letter-spacing: 0.03em;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

.link {
  text-decoration: none;
  color: inherit;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
}
.link:hover, .link:focus {
  color: #2196f3;
}

.link--dark {
  color: #212121;
}

.link--light {
  color: #ffffff;
}

.text-accent {
  color: #2196f3;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 28px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form-field__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}
.input--has-icon:hover + .form-field__icon, .input--has-icon:focus + .form-field__icon {
  fill: #2196f3;
}

/* form-field labels */
.form-field__name {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field__label {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  letter-spacing: 0.03em;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.form-field__input:not(:-moz-placeholder-shown) + .form-field__label {
  opacity: 0;
}

.form-field__input:not(:-ms-input-placeholder) + .form-field__label {
  opacity: 0;
}

.form-field__input:focus + .form-field__label,
.form-field__input:not(:placeholder-shown) + .form-field__label {
  opacity: 0;
}

/* form-field variants */
.form-field--check {
  display: block;
}

.input {
  height: 40px;
  max-width: 100%;
  padding: 11px;
  letter-spacing: 0.03em;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input:hover, .input:focus {
  border-color: #2196f3;
}
.input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

/* input variants */
.input--light {
  color: #ffffff;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.3);
}

.input--large {
  height: 50px;
  padding: 15px;
  font-size: 16px;
}

.input--textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.input--has-icon {
  padding-left: 42px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

.checkbox__icon {
  fill: transparent;
  background-color: #fff;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 3px;
  vertical-align: text-top;
  -webkit-transition-property: fill, background-color, border-color, opacity, -webkit-box-shadow;
  transition-property: fill, background-color, border-color, opacity, -webkit-box-shadow;
  transition-property: fill, box-shadow, background-color, border-color, opacity;
  transition-property: fill, box-shadow, background-color, border-color, opacity, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:focus + .checkbox__icon {
  -webkit-box-shadow: 0 0 0 2px #1882d7;
          box-shadow: 0 0 0 2px #1882d7;
}

.checkbox:focus:checked + .checkbox__icon {
  -webkit-box-shadow: 0 0 0 2px #212121;
          box-shadow: 0 0 0 2px #212121;
}

.checkbox:checked + .checkbox__icon {
  fill: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
}

.checkbox:not(:checked):not(:disabled):not(:focus) + .checkbox__icon:hover {
  border-color: #2196f3;
}

.checkbox:disabled + .checkbox__icon {
  border-color: #757575;
  opacity: 0.5;
}

.checkbox:disabled:checked + .checkbox__icon {
  background-color: #757575;
}

.checkbox:not(:disabled) + .checkbox__icon {
  cursor: pointer;
}

.checkbox__use {
  -webkit-transform: scale(1.2) rotate(-45deg);
          transform: scale(1.2) rotate(-45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox__icon .checkbox__use {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body {
  min-width: 1200px;
  /* fixed layout width */
  padding-top: 80px;
  /* fallback if js not loaded */
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #fff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.benefit__thumb {
  display: block;
  height: 120px;
  padding: 25px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #f5f4fa;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.benefit__title,
.benefit__text {
  margin-top: 0;
}

.benefit__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.benefit__text {
  margin-bottom: 0;
  line-height: 1.71;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #212121;
  fill: #212121;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button:hover, .button:focus, .filter__item--current .button {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button__label + .button__icon,
.button__icon + .button__label {
  margin-left: 10px;
}

.button--accent {
  color: #ffffff;
  background-color: #2196f3;
  fill: #ffffff;
}
.button--accent:hover, .button--accent:focus {
  background-color: #1882d7;
}

.button--small {
  min-width: auto;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
}

.card {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.card__body {
  padding: 30px 24px;
}

.card__title,
.card__text {
  margin-top: 0;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}

.card__title {
  margin-bottom: 10px;
  font-weight: 500;
  color: #212121;
}

.card__text {
  margin-bottom: 16px;
}

.card--centered {
  text-align: center;
}

.card--centered .card__image {
  margin-left: auto;
  margin-right: auto;
}

.clients-list__item {
  height: 92px;
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
}
.clients-list__link:hover, .clients-list__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.clients-list__icon {
  max-width: 100%;
  max-height: 100%;
  fill: currentColor;
}

.data-form__comment {
  margin-bottom: 20px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter--centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid__item {
  -ms-flex-preferred-size: calc(100% - 30px);
      flex-basis: calc(100% - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.grid--1 > .grid__item {
  -ms-flex-preferred-size: calc(100% - 30px);
      flex-basis: calc(100% - 30px);
}
.grid--2 > .grid__item {
  -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
}
.grid--3 > .grid__item {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
}
.grid--4 > .grid__item {
  -ms-flex-preferred-size: calc(25% - 30px);
      flex-basis: calc(25% - 30px);
}
.grid--5 > .grid__item {
  -ms-flex-preferred-size: calc(20% - 30px);
      flex-basis: calc(20% - 30px);
}
.grid--6 > .grid__item {
  -ms-flex-preferred-size: calc(16.6666666667% - 30px);
      flex-basis: calc(16.6666666667% - 30px);
}
.grid--7 > .grid__item {
  -ms-flex-preferred-size: calc(14.2857142857% - 30px);
      flex-basis: calc(14.2857142857% - 30px);
}
.grid--8 > .grid__item {
  -ms-flex-preferred-size: calc(12.5% - 30px);
      flex-basis: calc(12.5% - 30px);
}
.grid--9 > .grid__item {
  -ms-flex-preferred-size: calc(11.1111111111% - 30px);
      flex-basis: calc(11.1111111111% - 30px);
}
.grid--10 > .grid__item {
  -ms-flex-preferred-size: calc(10% - 30px);
      flex-basis: calc(10% - 30px);
}
.grid--11 > .grid__item {
  -ms-flex-preferred-size: calc(9.0909090909% - 30px);
      flex-basis: calc(9.0909090909% - 30px);
}
.grid--12 > .grid__item {
  -ms-flex-preferred-size: calc(8.3333333333% - 30px);
      flex-basis: calc(8.3333333333% - 30px);
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.logo--dark, .logo--dark:hover, .logo--dark:focus {
  color: #000000;
}

.logo--light, .logo--light:hover, .logo--light:focus {
  color: #ffffff;
}

.main-contacts {
  font-style: normal;
}

.main-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.main-contacts__link {
  line-height: 1.71;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
}
.main-contacts__link:not(.link--light) {
  color: rgba(255, 255, 255, 0.6);
}
.main-contacts__link:hover, .main-contacts__link:focus {
  color: #2196f3;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 30px;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal__dialog {
  position: relative;
  width: 528px;
  max-width: 100%;
  min-height: 580px;
  margin: auto;
  padding: 40px;
  color: #757575;
  line-height: 1.71;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: none;
          transform: none;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--hidden .modal__dialog {
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.modal__dialog--centered {
  text-align: center;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition-property: fill, -webkit-transform;
  transition-property: fill, -webkit-transform;
  transition-property: fill, transform;
  transition-property: fill, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal__close:hover {
  fill: #2196f3;
}
.modal__close:focus {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modal__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__link {
  color: #2196f3;
  text-decoration: underline;
}
.modal__link:hover, .modal__link:focus {
  color: #1882d7;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 32px;
  padding-top: 32px;
  font-weight: 500;
  line-height: 1.1428571429;
  /* need equal value to get propper height (80px) of header */
  letter-spacing: 0.02em;
}

.nav__item--current .nav__link {
  position: relative;
  color: #2196f3;
}

.nav__item--current .nav__link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
}

.nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}
.product:hover, .product:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__thumb {
  position: relative;
  overflow: hidden;
}

.product__overlay,
.product__text {
  position: absolute;
}

.product__overlay {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product:hover .product__overlay, .product:focus .product__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product__text {
  bottom: 63px;
  top: 63px;
  left: 24px;
  right: 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  overflow: hidden;
}

.product__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: block;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.product__title,
.product__type {
  margin-top: 0;
}

.product__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.product__type {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials-list__item {
  height: 44px;
  width: 44px;
}
.socials-list__item:not(:last-child) {
  margin-right: 10px;
}

.socials-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  color: #afb1b8;
  background-color: transparent;
  border-radius: 50%;
  fill: currentColor;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.socials-list__link:hover, .socials-list__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.socials-list__link--light {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription-form__field {
  margin-bottom: 0;
}

.subscription-form__input {
  width: 358px;
  margin-right: 12px;
}

.subscription-form__label {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.work-list__item {
  position: relative;
}

.work-list__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.page-header {
  min-height: 80px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.page-header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__logo {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__menu {
  margin-left: 93px;
}

.page-header__contacts {
  margin-left: auto;
}

.page-header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.hero {
  max-width: 1600px;
  min-height: 600px;
  padding-bottom: 200px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg.jpeg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.benefits {
  padding-bottom: 47px;
}

.work {
  padding-top: 47px;
}

.team {
  background-color: #f5f4fa;
}

.team__socials {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__filter {
  margin-bottom: 50px;
}

.page-footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #2f303a;
}

.page-footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.page-footer__item:not(:last-child) {
  margin-right: 70px;
}

.page-footer__logo {
  margin-bottom: 20px;
}

.page-footer__title {
  margin-bottom: 20px;
  margin-top: 0;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.page-footer__item--subscription {
  margin-left: auto;
}/*# sourceMappingURL=main.css.map */