// Backdrop

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  width: 100%;
  height: 100%;

  background-color: $overlay-color;

  transition-property: opacity, visibility;
  transition-duration: $transition-base-time;
  transition-timing-function: $transition-base-animation;
}

.backdrop--hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
