// Main contacts

.main-contacts {
  font-style: normal;
}

.main-contacts__list {
  @extend %list;
}

.main-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.main-contacts__link {
  line-height: 1.71;

  transition-duration: $transition-base-time;
  transition-timing-function: $transition-base-animation;
  transition-property: color;

  &:not(.link--light) {
    color: $footer-link-color;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
