// Product

.product {
  display: flex;
  flex-direction: column;
  height: 100%;

  background-color: $card-bg;

  transition-duration: $transition-base-time;
  transition-timing-function: $transition-base-animation;
  transition-property: box-shadow;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.product__thumb {
  position: relative;
  overflow: hidden;
}

.product__overlay,
.product__text {
  position: absolute;
}

.product__overlay {
  left: 0;
  top: 0;

  height: 100%;
  width: 100%;

  background-color: $accent-color-overlay;

  transform: translateY(100%);
  transition-property: transform;
  transition-duration: $transition-base-time;
  transition-timing-function: $transition-base-animation;

  .product:hover &,
  .product:focus & {
    transform: translateY(0);
  }
}

.product__text {
  $offsetY: 63px;
  $offsetX: 24px;

  bottom: $offsetY;
  top: $offsetY;
  left: $offsetX;
  right: $offsetX;

  margin: 0;

  font-size: 18px;
  line-height: 1.56;
  color: $text-color-light;

  overflow: hidden;
}

.product__content {
  flex-grow: 1;
  display: block;
  padding: 20px 24px;

  border: 1px solid $portfolio-border-color;
  border-top: none;
}

.product__title,
.product__type {
  margin-top: 0;
}

.product__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: $letter-spacing-lg;
  color: $text-color-dark;
}

.product__type {
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: $letter-spacing-default;
  color: $text-color;
}
