// Subscription form

.subscription-form {
  display: flex;
  align-items: center;
}

.subscription-form__field {
  margin-bottom: 0;
}

.subscription-form__input {
  width: 358px;
  margin-right: 12px;
}

.subscription-form__label {
  font-size: 16px;
  color: $footer-link-color;
}
