/* -----------------------GENERAL-------------------- */
:root {
  /* colors */
  --accent-color: #2196f3;
  --accent-color-dark: #1882d7;
  --accent-color-overlay: rgba(33, 150, 243, 0.9);
  --text-color: #757575;
  --text-color-dark: #212121;
  --text-color-light: #ffffff;
  --socials-color: #ffffff;
  --socials-bg: rgba(255, 255, 255, 0.1);
  --icon-base-color: #afb1b8;
  --main-bg: #fff;
  --section-bg-dark: #2f303a;
  --section-bg-light: #f5f4fa;
  --button-bg: #f5f4fa;
  --card-bg: #ffffff;
  --header-bg: #ffffff;
  --header-border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --work-label-bg: rgba(47, 48, 58, 0.8);
  --overlay-color: rgba(0, 0, 0, 0.2);
  --modal-bg: #ffffff;
  --modal-close-border-color: rgba(0, 0, 0, 0.1);
  --input-border-color: rgba(33, 33, 33, 0.2);
  --input-border-color-light: rgba(255, 255, 255, 0.3);
  --placeholder-color: rgba(117, 117, 117, 0.5);

  /* sizes */
  --container-width: 1200px;
  --footer-padding: 60px;
  --header-padding: 32px;
  --header-height: 80px;
  --section-padding: 94px;

  /* gutters */
  --grid-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  /* typography */
  --font-default: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
  --font-size-default: 14px;
  --letter-spacing-default: 0.03em;
  --letter-spacing-xs: 0.01em;
  --letter-spacing-sm: 0.02em;
  --letter-spacing-lg: 0.06em;

  /* transitions */
  --transition-base-time: 250ms;
  --transition-base-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  min-width: $container-width; /* fixed layout width */
  padding-top: $header-height; /* fallback if js not loaded */

  font-family: $font-default;
  font-size: $font-size-default;
  letter-spacing: $letter-spacing-default;
  color: $text-color;

  background-color: $main-bg;
}

/* ----------------------CLIENTS------------------- */
.clients {
  @extend %section;
}
.clients__wrap {
  @extend %container;
}
.clients__title {
  @extend %section-title;
}
/* clients list */
.clients-list__item {
  height: 92px;
}
.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: calc(var(--grid-gap) / 2);

  color: var(--icon-base-color);
  border: 1px solid var(--icon-base-color);
  border-radius: 4px;

  transition-duration: var(--transition-base-time);
  transition-timing-function: var(--transition-base-animation);
  transition-property: color, border-color;
}
.clients-list__link:hover,
.clients-list__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.clients-list__icon {
  max-width: 100%;
  max-height: 100%;

  fill: currentColor;
}

/* ----------------------PORTFOLIO------------------- */
.portfolio {
  @extend %section;
}
.portfolio__wrap {
  @extend %container;
}
.portfolio__filter {
  margin-bottom: 50px;
}
.portfolio__image {
  @extend %image;
}

/* -----------------------FOOTER--------------------- */
.footer {
  padding-bottom: var(--footer-padding);
  padding-top: var(--footer-padding);

  background-color: var(--section-bg-dark);
}
.footer__wrap {
  @extend %container;

  display: flex;
  align-items: baseline;
}
.footer__item:not(:last-child) {
  margin-right: 70px;
}
.footer__logo {
  margin-bottom: 20px;
}

.footer__title {
  margin-bottom: 20px;
  margin-top: 0;

  color: var(--text-color-light);

  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-default);
  line-height: 1.14;
  letter-spacing: var(--letter-spacing-default);
  text-transform: uppercase;
}

.footer__item--subscription {
  margin-left: auto;
}
