%container {
  width: $container-width;
  padding-left: calc($card-set-gap / 2);
  padding-right: calc($card-set-gap / 2);
  margin-left: auto;
  margin-right: auto;
}

%list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
